<h1 class="center-title">Cohorts</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Course Name</th>
      <th scope="col">Instructor</th>
      <th scope="col">Class Size</th>
      <th scope="col">Course Assc.</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col">View Students</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  <% @cohorts.each do |cohort| %>
    <tr id="cohort<%= cohort.id %>">
      <th scope="row"><%= cohort.id %></th>
      <% if cohort.course %>
        <td><%= cohort.course.name %>: <%= cohort.course.code_name %></td>
      <% else %>
        <td><%= %></td>
      <% end %>
      <% if cohort.instructor %>
        <td><%= cohort.instructor.first_name %> <%= cohort.instructor.last_name %>  </td>
      <% else %>
        <td><%= %></td>
      <% end %>
      <td><%= cohort.class_size %></td>
      <td><%= cohort.course_id  %></td>
      <td><%= cohort.start_date %></td>
      <td><%= cohort.end_date   %></td>
      <td>
        <button type="button" class="btn btn-default btn-sm">
        <%= link_to(cohort_path(cohort.id)) do %>
          <span class="glyphicon glyphicon-eye-open"></span>
        <% end %>
        </button>
      </td>
      <td><button type="button" class="btn btn-default btn-sm">
          <a href="<%= edit_cohort_path(cohort) %>"><span class="glyphicon glyphicon-pencil"></span></a>
        </button></td>
      <td>
        <button type="button" class="btn btn-default btn-sm">
          <%= link_to(cohort_path(cohort.id), method: :delete, remote: :true) do %>
            <span class="glyphicon glyphicon-trash"></span>
            
          <% end %>
        </button>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<div class="col-md-12 text-center"> 
    <button type="button" class="btn btn-warning btn-lg">
      <a href="<%= new_cohort_path %>">Create a Cohort</a>
    </button> 
</div>