<h1>Cohorts#new</h1>
<p>I will have a form to create/delete/edit cohorts on this page</p>

<%= form_with(model: @cohort) do |form|             %>
  Course ID Number <%= form.select :course_id, options_for_select(@courses, @cohort.course_id) %> <br />


  Class Size:      <%= form.text_field(:class_size) %> <br />
  Start Date:      <%= form.text_field(:start_date) %> <br />
  End Date:        <%= form.text_field(:end_date)   %> <br />

<%= form.submit %>
<% end %>
<br />

