<h1>Students</h1>

 <%= form_with(model: @student) do |form| %>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputEmail4">Email</label>
      <%= form.text_field :email, class:"form-control", id: "inputEmail4", required: true, placeholder: "Email" %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="validationCustom01">First Name</label>
      <%= form.text_field :first_name, class:"form-control", id: "validationCustom01", required: true, placeholder: "First Name" %>
    </div>
    <div class="form-group col-md-3">
      <label for="validationCustom02">Last Name</label>
      <%= form.text_field :last_name, class:"form-control", id: "validationCustom02", required: true, placeholder: "Last Name" %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="validationCustom03">Age</label>
       <%= form.text_field :age, class:"form-control", id: "validationCustom03", required: true, placeholder: "Age" %>
    </div>
    <div class="form-group col-md-3">
      <label for="inputState">Education</label>
      <%= form.select :education, options_for_select(["High School","Freshman","Sophomore","Junior","Senior"]), { prompt: "Select One", required: true }, { class: "form-control", id: "inputState" } %>
    </div>
    <div class="form-group col-md-3">
      <label for="inputState">Cohort</label>
        <%= form.collection_select :cohort_id, Cohort.all, :id, :id, { prompt: "Select One", required: true }, { class: "form-control", id: "inputState" } %>
    </div>
    </div>

    <%= form.submit "Create", class: "btn btn-primary" %>
  
  </div>  
  <% end %>
</form>

<!-- <%= form_with(model: @student) do |form| %>
  Cohort ID   <%= form.select :cohort_id, options_for_select(@cohorts, @cohort_id) %> <br />
  First Name: <%= form.text_field(:first_name) %> <br />
  Last Name:  <%= form.text_field(:last_name)  %> <br />
  Age:        <%= form.text_field(:age)        %> <br />
  Education:  <%= form.text_field(:education)  %> <br />
  <%= form.submit %>
<% end %> -->