<h1>Edit Instructors</h1>

<%= form_with(model: @instructor) do |form|     %>
  First Name  <%= form.text_field(:first_name)  %><br />
  Last Last   <%= form.text_field(:last_name)   %><br />
  Education   <%= form.text_field(:education)   %><br />
  Salary      <%= form.text_field(:salary)      %><br />
  Age         <%= form.text_field(:age)         %><br />
  <%= form.submit %>

<% end %>