<h1>Edit Courses</h1>

<%= form_with(model: @course) do |form|         %>
  Name        <%= form.text_field(:name)        %><br />
  Code Name   <%= form.text_field(:code_name)   %><br />
  Total Hours <%= form.text_field(:total_hours) %><br />
  <%= form.submit %>
<% end %>

