<h1 class="center-title" >Courses</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Course Name</th>
      <th scope="col">Code Name</th>
      <th scope="col">Total Hours</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  <% @courses.each do |course| %>
    <tr id="course<%= course.id %>">
      <th scope="row"><%= course.id %></th>
      <td><%= course.name        %></td>
      <td><%= course.code_name   %></td>
      <td><%= course.total_hours %></td>
      <td><button type="button" class="btn btn-default btn-sm">
          <a href="<%= edit_course_path(course) %>"><span class="glyphicon glyphicon-pencil"></span></a>
        </button></td>
      <td>
        <button type="button" class="btn btn-default btn-sm">
          <%= link_to(course_path(course.id), method: :delete, remote: :true) do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        </button>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<div class="col-md-12 text-center"> 
    <button type="button" class="btn btn-warning btn-lg">
      <a href="<%= new_course_path %>">Create a Course</a>
    </button> 
</div>